@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome To Mario World!!</h1>
<br>
<br>

<br>
<h3>@ViewBag.Reaction</h3>
<br>
    <i class="nes-mario"></i>
<br>
<br>
    <div>
        <a href="/" class="nes-btn is-default">Reset</a>
    </div>
</div>
